@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to ANOOSHEH Library</h3>
    <p>
        Why reading?
        <a href="https://www.ekidstation.com/5-benefits-reading"> </a>


            There is no friend as loyal as a book. <small>"Ernest Hemingway"</small>

       
    </p>
</div>
