@{
    ViewData["Title"] = "Home Page";
}

<div class=" text-center">
    <blockquote>
        <p class="lead"><cite>There is no friend as loyal as a book.</cite></p>
        <footer><cite>"Ernest Hemingway"</cite></footer>
    </blockquote>
</div>
<img class="card-img-top" src="~/images/LibraryBRW.jpg"/>
     asp-append-version="true"/>
<div clss=" background-color:#B22222"></div>

